@model ToutesLesVillesViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>Bonjour Ibra ceci est une Vu</p>
<p>Le nom de la ville est : @Model.Nom_ville</p>
<p>La ville comporte: @Model.Nombre_Quartier quartiers</p>
